.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    
}

@media (max-width:576px) {
    .posts{
        padding: 50px;
        align-items: center; 
    }
}

@media (max-width:480px) {
    .posts{
        padding: 10px;
        align-items: center; 
    }
}